Functions/mac_chromedriver/chromedriver
file_downloaded/*.csv
file_downloaded/*.zip
__pycache__/
TestSuites/__pycache__/
TestSuites/Misc/WcTintRequest/__pycache__/
Functions/__pycache__/
TestSuites/Misc/EditZones/__pycache__/
TestSuites/Misc/ReadParameterJob/__pycache__/
TestSuites/Misc/SpVerification/__pycache__/
venv/*
TestResults/*
chromedriver
.idea/
conftest.py
pytest.ini
.DS_Store
allure-results/*
